<template>

    <div class="container bg-white py-2">
        <div class="row my-2 p-2">
            <label class="col-12 col-md-2">Given Name:</label>
            <input type="text" class="form-control col-12 col-md-4" v-model="new_passenger.given_name">
            <label class="col-12 col-md-2">Surname</label>
            <input type="text" class="form-control col-12 col-md-4" v-model="new_passenger.surname">
        </div>
        <div class="row my-2 p-2">
            <label class="col-12 col-md-2">Email:</label>
            <input type="text" class="form-control col-12 col-md-4" v-model="new_passenger.email">
            <label class="col-12 col-md-2">mobile:</label>
            <input type="text" class="form-control col-12 col-md-4" v-model="new_passenger.mobile">
        </div>
        <div class="row my-2 p-2">
            <label class="col-12 col-md-2">Passport:</label>
            <input type="text" class="form-control col-12 col-md-4" v-model="new_passenger.passport">
            <label class="col-12 col-md-2">Date of Birth:</label>
            <input type="date" class="form-control col-12 col-md-4" v-model="new_passenger.birth_date">
        </div>
        <div class="row my-2 p-2">
            <label class="col-12 col-md-2">Special Request:</label>
            <input type="text" class="form-control col-12 col-md-8" v-model="new_passenger.special_request">
            <div class="col-12 col-md-2 p-0 text-right">

                <button class="btn btn-danger" @click="closeAdd">Remove</button>
                <button class="btn btn-primary" @click="savePassenger">Save</button>
            </div>
        </div>
        <!-- errors msg -->
        <div class="form-group errors" v-if="errors">
            <ul>
            <li v-for="(fieldError, fieldName) in errors" :key="fieldName">
                <!-- show error in array -->
                <span class="lead">{{fieldName}} : </span> {{fieldError.join('\n')}}
            </li>
            </ul>
        </div>
    </div>
</template>

<script>
import validate from "validate.js";
export default {
  name: "add-passenger",
  data() {
    return {
      new_passenger: {
        given_name: "",
        surname: "",
        email: "",
        mobile: "",
        passport: "",
        birth_date: "",
        special_request: ""
      },
      errors: null
    };
  },
  methods: {
    closeAdd() {
      this.$emit("closeAdd", null);
    },
    savePassenger() {
      /* validate the passenger data */

      const constraints = this.getConstraints();
      const errors = validate(this.$data.new_passenger, constraints);
      if (errors) {
        this.errors = errors;
        return; //stop here do not add
      }
      /* end validation */

      //return this new passenger to parent component
      this.$emit("savePassenger", this.new_passenger);
      this.$data.new_passenger = {
        //reset form
        given_name: "",
        surname: "",
        email: "",
        mobile: "",
        passport: "",
        birth_date: "",
        special_request: ""
      };

      this.$data.errors = null;
    },
    getConstraints() {
      //validation rules
      return {
        given_name: {
          presence: { allowEmpty: false },
          length: {
            maximum: 128,
            message: "could not longer than 128 characters"
          }
          //lettersonly:true
        },
        surname: {
          presence: { allowEmpty: false },
          length: {
            maximum: 64,
            message: "could not longer than 64 characters"
          }
          //lettersonly:true
        },
        email: {
          presence: { allowEmpty: false },
          email: true
        },
        mobile: {
          presence: { allowEmpty: false },
          numericality: true
        },
        passport: {
          presence: { allowEmpty: false }
        },
        birth_date: {
          presence: { allowEmpty: false }
        },
        special_request: ""
      };
    } //<- validation rules end here
  }
};
</script>


<style scoped>
.errors {
  background: lightcoral;
  border-radius: 5px;
  padding: 21px 0 2px 0;
}
</style>

