<template>
    <div>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {
        name:"App",     
    }
</script>



<!-- <p> example of vue-routing
    <router-link :to="{ name: 'home' }">Home</router-link> |
    <router-link :to="{ name: 'hello' }">Hello World</router-link>
</p> -->