<template>
<div class="container">
    
    <form @submit.prevent="addSkill" action="">

    </form>
    
    <h1>Hello rout-dates works!</h1>
    <button class="btn btn-info" @click="toggleInputBox()">Add Date</button>
    <table class="table table-striped table-hover">
        <tr v-for="date in tourDates" :key='date.id'>
            <td>{{date.date}}</td>
            <td>{{date.status}}</td>
        </tr>
        <tr class="bg-success" v-bind:style="{display:showClass}">
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <button class="btn btn-danger">remove</button>
            </td>
        </tr>
    </table>
</div>
    

</template>

<script>
export default {
    name:'tour-dates',
    date() {
        return {
            tourDates:[],
            showClass:'none'
            }

    },
    created(){
        this.tourDates=[
            {"status":1,"date":"9-9","id":1},
            {"status":1,"date":"10-2","id":2}
        ];
        this.showClass = '';
        console.log("bad");
    },
    methods:{
        toggleInputBox()
        {
            this.showClass=='none'?this.showClass='block':this.showClass='none';
            console.log(this.showClass);
            return;
        }
    }
}
</script>
