<template>

<div class="container mt-5">

     <!-- form for create tour -->
    <form @submit.prevent="createTour">
        <div class="form-group row">
            <label for="tour-name" class="col-sm-2 col-form-label">Tour name:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="tour-name" v-model="tour.name">
            </div>
        </div>
        <div class="form-group row">
            <label for="itinerary" class="col-sm-2 col-form-label">Itinerary:</label>
            <div class="col-sm-10">
            <textarea type="text" class="form-control" id="itinerary" rows="4" v-model="tour.itinerary"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status:</label>
            <div class="col-sm-10">
            <select type="text" class="form-control" id="status" v-model="tour.status">
              <option value="1">Public</option>
              <option value="2">Draft</option>
            </select>
            </div>
        </div>
        <!-- errors msg -->
        <div class="form-group errors" v-if="errors">
          <ul>
            <li v-for="(fieldError, fieldName) in errors" :key="fieldName">
              <!-- show error in array -->
              <strong>{{fieldName}}</strong> {{fieldError.join('\n')}}
            </li>
          </ul>
        </div>
    </form>

    <!-- form for create tour date -->
        <!-- tour date -->
    <div class="btn-wrap">
      <!-- this button very change the vaule of 'showAdd' which is toggle the input filed of adding date  -->
      <button class="btn btn-primary" @click="openAdd">Add Date</button>
    </div>
    <table class="table table-hover table-striped">
      <thead class="bg-success">
        <th>Date</th>
        <th>Actions</th>
      </thead>
      <tbody>

        <template v-if="!tour_dates.length">
            <tr>
                <td colspan="2" class="text-center">No Tour date Available</td>
            </tr>
        </template>
       
        <template v-else>
          <tourDate v-for="(tour_date,index) in tour_dates" :key="index" :tour_date="tour_date" :index="index" @remove="remove"></tourDate>

        </template>
        <!-- add new date -->
        <tr v-if="showAdd">
          <td>
            <input type="date" v-model="new_date.date">
          </td>
          <td>
            <button class="btn btn-danger" @click="closeAdd">Cancel</button>
            <button class="btn btn-success" @click="addDate">Add</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- nav button -->
    <div class="d-flex justify-content-between">
        <router-link :to="{ name: 'tours' }" class="btn btn-danger">Cancel</router-link>
        <button class="btn btn-primary" @click="createTour" >Submit</button>
    </div>


</div>
    

</template>

<script>
/*
* To-do: generate drop down list for status without hard code ?where could I put the array, component or model?
*/
import validate from "validate.js";
import tourDate from "./tour-date.vue";

export default {
  name: "create-tour",
  data() {
    return {
      tour: {
        name: "",
        itinerary: "",
        status: 1
      },
      new_date: {
        date: ""
      },
      tour_dates: [],
      showAdd: false,

      errors: null //this is for validation purpose
    };
  },
  created() {},
  methods: {
    /* toggle input date box*/
    openAdd() {
      this.$data.showAdd = true;
    },
    closeAdd() {
      this.$data.showAdd = false;
    },
    /*end*/

    addDate() {
      this.$data.tour_dates.push(this.$data.new_date);
      console.log(this.tour_dates);
    },

    remove(index) {
      //delete a tour_date
      this.$data.tour_dates.splice(index, 1);
    },

    createTour() {
      console.log(this.$data.tour); //*testing* log the current tour object
      console.log(this.$data.tour_dates); //*testing* log the current date to console
      this.errors = null; //every time submit clear the validation error msg

      /*start validate*/
      const constraints = this.getConstraints();
      const errors = validate(this.$data.tour, constraints);
      if (errors) {
        this.errors = errors;
        return; //stop here do not go API
      }
      /*end validate */

      /*send tour data to BE API*/
      axios
        .post("/api/tour", {
          tour: this.$data.tour,
          tour_dates: this.$data.tour_dates
        }) //need (url,data,[header]) if use Token auth
        .then(res => {
          alert("tour created");
          this.$router.push("/"); //after success redirect to homepage
        });
      /*end create new tour*/
    },
    getConstraints() {
      //validation rules
      return {
        name: {
          presence: true,
          length: {
            minimum: 5,
            message: "Must be at least 3 characters long"
          }
        },
        itinerary: {
          //numericality: true, //<-check for only numbers
          //url: true, //<-check for validate website
          presence: true,
          length: {
            minimum: 25,
            message: "Must be at least 25 characters long"
          }
        }
      };
    } //<-validation rules end here
  }, //<-methods() end here
  components: {
    tourDate
  }
};
</script>

<style scoped>
.errors {
  background: lightcoral;
  border-radius: 5px;
  padding: 21px 0 2px 0;
}
.btn-wrap {
  text-align: right;
  margin-bottom: 10px;
}
</style>
