<template>
    <tr>
        <th :class="tour_date.status==2?'text-cross':null">{{tour_date.date}}</th>
        <td>
            <button @click="toggleStatus()" 
            :class="tour_date.status==2?'btn btn-success':'btn btn-danger'"                  
            >{{tour_date.status==2?'Enable':'Disable'}}</button>
        </td>
    </tr>
</template>

<script>
export default {
  props: {
    tour_date: null,
    index: null
  },
  data() {
    return {
      btnText: null,
      btnClass: null
    };
  },
  methods: {
    toggleStatus() {
      this.$emit("toggle", this.tour_date.id);
    }
  }
};
</script>

<style lang="scss" scoped>
.text-cross {
  text-decoration: line-through;
}
</style>


