<template>

<div class="container mt-5">

    <form @submit.prevent="editTour" name="editForm">
        <div class="form-group row">
            <label for="tour-id" class="col-sm-2 col-form-label">Tour id:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="tour-id" id="tour-id" readonly v-model="tour.id">
            </div>
        </div>
        <div class="form-group row">
            <label for="tour-name" class="col-sm-2 col-form-label">Tour name:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="tour-name" id="tour-name" v-model="tour.name">
            </div>
        </div>
        <div class="form-group row">
            <label for="itinerary" class="col-sm-2 col-form-label">Itinerary:</label>
            <div class="col-sm-10">
            <textarea type="text" class="form-control" name="tour-itinerary" id="itinerary" rows="4" v-model="tour.itinerary"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status:</label>
            <div class="col-sm-10">
            <select type="text" class="form-control" id="status" v-model="tour.status">
              <option value="1">Public</option>
              <option value="2">Draf</option>
            </select>
            </div>
        </div>
    </form>

    <!-- tour date -->
    <div class="btn-wrap">
      <!-- this button very change the vaule of 'showAdd' which is toggle the input filed of adding date  -->
      <button class="btn btn-primary" @click="openAdd">Add Date</button>
    </div>
    <table class="table table-hover table-striped">
      <thead class="bg-success">
        <th>Date</th>
        <th>Actions</th>
      </thead>
      <tbody>
         

        <template v-if="!tour_dates.length">
            <tr>
                <td colspan="2" class="text-center">No Tour date Available</td>
            </tr>
        </template>
       
        <template v-else>
          <editTourDate v-for="(tour_date,index) in tour_dates" :key="index" :tour_date="tour_date" :index="index" @toggle="toggle"></editTourDate>
        </template>
        <!-- add new date -->
        <tr v-if="showAdd">
          <td>
            <input type="date" v-model="new_date.date">
          </td>
          <td>
            <button class="btn btn-danger" @click="closeAdd">Cancel</button>
            <button class="btn btn-success" @click="addDate">Add</button>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- button  -->
    <div class="d-flex justify-content-between">
        <router-link :to="{ name: 'tours' }" class="btn btn-danger">Cancel</router-link>
        <button class="btn btn-primary" @click="editTour" >Submit</button>
    </div>


</div>
    

</template>

<script>
import editTourDate from "./edit-tour-date";
export default {
  data() {
    return {
      tour: {
        //if tour=null, may get error 'can not read id of idenfined'
        id: "",
        name: "",
        itinerary: "",
        status: ""
      },
      tour_date: {
        id: "",
        tour_id: "",
        date: "",
        status: ""
      },
      new_date: {
        id: "",
        tour_id: "",
        date: "",
        status: ""
      },
      showAdd: false,
      tour_dates: []
    };
  },
  created() {
    let id = this.$route.params.id;
    axios.get(`/api/tour/${id}`).then(res => {
      this.tour = res.data.tour;
      this.tour_dates = res.data.tour_dates.data; // cause using pagination so need fetch .data
    });
  },
  computed: {},
  methods: {
    editTour() {
      axios
        .put("/api/tour", {
          tour: this.$data.tour,
          tour_dates: this.$data.tour_dates
        })
        .then(alert("tour updated"))
        .then(this.$router.push("/"))
        .catch(err => console.log(err));
    },
    toggle(tour_date_id) {
      this.tour_dates.forEach(tour_date => {
        if (tour_date.id == tour_date_id) {
          if (tour_date.status == 1) {
            tour_date.status = 2;
          } else {
            tour_date.status = 1;
          }
        }
      });
    },
    openAdd() {
      this.showAdd = true;
    },
    closeAdd() {
      this.showAdd = false;
    },
    addDate() {
      this.new_date.status = 1;
      this.new_date.tour_id = this.$route.params.id;
      axios.post("/api/newdate", this.new_date).then(res => {
        this.tour = res.data.tour;
        this.tour_dates = res.data.tour_dates.data; // cause using pagination so need fetch .data
      });
    }
  },
  components: {
    editTourDate
  }
};
</script>

<style scoped>
.cross-text {
  text-decoration: line-through;
}
.btn-wrap {
  text-align: right;
  margin-bottom: 10px;
}
</style>
