<template>
<div class="container mt-5">

     <!-- form for create tour -->
    <form @submit.prevent="createTour">
        <div class="form-group row">
            <label for="tour-name" class="col-sm-2 col-form-label">Tour Name:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" readonly id="tour-name" v-bind:value="booking.tour_name"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Tour Date:</label>
            <div class="col-sm-10">
            <select type="text" class="form-control" id="status" v-model="booking.tour_date">
              <option v-bind:value="booking.tour_date">{{booking.tour_date}}</option>
              <option v-for="(tour_date,index) in tour_dates" :key="index" v-bind:value="tour_date.date">{{tour_date.date}}</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status:</label>
            <div class="col-sm-10">
            <select type="text" class="form-control" id="status" v-model="booking.status">
              <option value="1">Unpaid</option>
              <option value="2">Paid</option>
              <option value="3">Cancelled</option>
            </select>
            </div>
        </div>
    </form>
    <!-- add passengers -->
    <div class="d-flex justify-content-between mb-3">
        <h2>Passengers:</h2>
        <button class="btn btn-primary" @click="openAdd">Add Passenger</button>
    </div>

    <!-- list form -->
    <template v-if="passengers.length">
      <template v-if="passengers.length">
        <passengerList v-for="(passenger,index) in passengers" :key="index" :passenger="passenger" :index="index" @remove="remove"></passengerList>
      </template>
    </template>

    <!-- add passengers form -->
    <template v-if="showAdd">
      <addPassenger  @savePassenger="savePassenger" @closeAdd="closeAdd"></addPassenger>
    </template>

    <!-- button  -->
    <div class="d-flex justify-content-between">
        <router-link :to="{ name: 'tours' }" class="btn btn-danger">Cancel</router-link>
        <button class="btn btn-primary" @click="createBooking">Submit</button>
    </div>
</div>

</template>


<script>
import passengerList from "./show-passenger.vue";
import addPassenger from "./add-passenger.vue";

export default {
  data() {
    return {
      booking: {
        id: "",
        tour_id: "",
        tour_date: "",
        tour_name: "",
        status: ""
      },
      passengers: [],
      tour_dates: [],
      showAdd: false,
      errors: null
    };
  },
  created() {
    //getting tour info
    let id = this.$route.params.id;
    axios.get(`/api/booking/${id}`).then(res => {
      this.booking = res.data.booking;
      this.passengers = res.data.passengers;
      this.tour_dates = res.data.tour_dates;
    });
  },
  methods: {
    openAdd() {
      this.$data.showAdd = true;
    },
    closeAdd() {
      this.$data.showAdd = false;
    },
    savePassenger(new_passenger) {
      this.$data.passengers.push(new_passenger);
    },
    remove(index) {
      this.$data.passengers.splice(index, 1);
    },
    createBooking() {
      /*send booking data to BE API*/
      axios
        .put("/api/booking", {
          booking: this.$data.booking,
          passengers: this.$data.passengers
        }) //need (url,data,[header]) if use Token auth
        .then(res => {
          alert("booking updated");
          //this.$router.push("/"); //after success redirect to homepage
        });
      /*end updated booking*/
    }
  },
  components: {
    passengerList,
    addPassenger
  }
};
</script>
