<template>
    <div class="mt-5">
        <!--nav button-->
        <p>
            <router-link :to="{ name: 'tours' }" class="btn btn-primary">Back to Tours</router-link>
        </p>
        <!-- list of bookings -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tour Name</th>
                    <th>Tour Date</th>
                    <th>Number of Passengers</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <template v-if="!bookings.length">
                    <tr>
                        <td colspan="5" class="text-center">No Tours Available</td>
                    </tr>
                </template>
                <template v-else>
                    <tr v-for="booking in bookings" :key="booking.id">
                        <td>{{booking.id}}</td>
                        <td>{{booking.tour_name}}</td>
                        <td>{{booking.tour_date}}</td>
                        <td>{{booking.number_of_passengers}}</td>
                        <td>
                            <router-link :to="{ name: 'edit-booking',params:{id:booking.id} }" class="btn btn-primary">Edit</router-link>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

    </div><!--this is the end of whole components-->
</template>

<script>
export default {

    created(){},//like constructor
    mounted(){        
        this.$store.dispatch('getBookings');//call method in 'store.actions'
    },
    computed: {
        bookings(){
            return this.$store.getters.bookings;
        }
    },
    methods:{}
}
</script>

<style> 
/*this style will apply globally*/
.btn{
    min-width: 80px!important;
} 
</style>
