    <template>
        <div class="container bg-white py-2">
            <div class="row my-2 p-2">
                <label class="col-12 col-md-2">Given Name:</label>
                <input type="text" class="form-control col-12 col-md-4" v-bind:value="passenger.given_name">
                <label class="col-12 col-md-2">Surname</label>
                <input type="text" class="form-control col-12 col-md-4" v-bind:value="passenger.surname">
            </div>
            <div class="row my-2 p-2">
                <label class="col-12 col-md-2">Email:</label>
                <input type="text" class="form-control col-12 col-md-4" v-bind:value="passenger.email">
                <label class="col-12 col-md-2">Surname:</label>
                <input type="text" class="form-control col-12 col-md-4" v-bind:value="passenger.mobile">
            </div>
            <div class="row my-2 p-2">
                <label class="col-12 col-md-2">Passport:</label>
                <input type="text" class="form-control col-12 col-md-4" v-bind:value="passenger.passport">
                <label class="col-12 col-md-2">Date of Birth:</label>
                <input type="text" class="form-control col-12 col-md-4" v-bind:value="passenger.birth_date">
            </div>
            <div class="row my-2 p-2">
                <label class="col-12 col-md-2">Special Request:</label>
                <input type="text" class="form-control col-12 col-md-8" v-bind:value="passenger.special_request">
                <div class="col-12 col-md-2 text-right p-0"><button class="btn btn-danger" @click="remove(index)">Remove</button></div>
                
            </div>
        </div>
    </template>

    <script>
export default {
  name: "add-passenger",
  props: {
    passenger: null,
    index: null
  },
  methods: {
    remove() {
      this.$emit("remove", this.index);
    }
  }
};
</script>
    