<template>
    <div class="mt-5">
        <!--nav button-->
        <p>
            <router-link :to="{ name: 'create-tour' }" class="btn btn-success">Create New Tour</router-link>
            <router-link :to="{ name: 'list-bookings' }" class="btn btn-primary">View Bookings</router-link>
        </p>

        <!-- pagination -->
        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li v-bind:class="[{disabled:!pagination.prev_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchTours(pagination.prev_page_url)">Previous</a>
                </li>
                <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>
                <li v-bind:class="[{disabled:!pagination.next_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchTours(pagination.next_page_url)" >Next</a>
                </li>
            </ul>
        </nav> -->

        <!--table to show all tours-->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Tour Id</th>
                    <th>Tour Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <template v-if="!tours.length">
                    <tr>
                        <td colspan="3" class="text-center">No Tours Available</td>
                    </tr>
                </template>
                <template v-else>
                    <tr v-for="tour in tours" :key="tour.id">
                        <td>{{tour.id}}</td>
                        <td>{{tour.name}}</td>
                        <td>
                            <router-link :to="{ name: 'create-booking',params:{id:tour.id} }" class="btn btn-success">Booking</router-link>
                            <router-link :to="{ name: 'edit-tour',params:{id:tour.id} }" class="btn btn-primary">Edit</router-link>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

    </div><!--this is the end of whole components-->
</template>

<script>
export default {
    data(){
        return { //declare attributes to show in views
            tour:{
                id:'',
                name:'',
                itinerary:'',
                status:''
            },
            tour_id:'',
            pagination:{},
            edit:false
        }
    }, //!important, dont miss the comma.
    created(){},//like constructor
    mounted(){
              
        this.$store.dispatch('getTours');//call method in 'store.actions'
    },
    computed: {
        tours(){
            return this.$store.getters.tours;
        }
    },
    methods:{//all methods need for component.
        // fetchTours(page_url){
        //     page_url = page_url || '/api/tours';
        //     fetch(page_url) //fetch data from api, data is response
        //     .then(res=>res.json()) //tansform data to json object
        //     .then(res=>{
        //         this.tours = res.data;
        //         this.makePagination(res.meta,res.links);
        //     })
        //     .catch(err=>console.log(err));

        // },

        // makePagination(meta,links){
            
        //     let pagination = {
        //         current_page:meta.current_page,
        //         last_page:meta.last_page,
        //         next_page_url:links.next,
        //         prev_page_url:links.prev
        //     };
        //     console.log(!pagination.next_page_url);
        //     this.pagination = pagination;
        // }
    }



}
</script>

<style> 
/*this style will apply globally*/
.btn{
    min-width: 80px!important;
} 
</style>
