<template>

    <tr>
        <th>{{tour_date.date}}</th>
        <td>
            <button @click="remove()" 
            class="btn btn-danger"                  
            >Remove</button>
        </td>
    </tr>
</template>

<script>
export default {
  name: "tour-date",
  props: {
    tour_date: null,
    index: null
  },
  methods: {
    remove() {
      this.$emit("remove", this.index);
    }
  }
};
</script>

